.order-book {
    width: 100%;
    background-color: #999;
}

.order-book h3 {
    width: 100%;
    text-align: center;
}

.order-book input {
    width: 46%;
}

.order-book button {
    width: 100%;
}




