<div class="half">
  <h3>Varaa sauna-aika</h3>
  <p>Sauna-aika maksaa 40€/kk</p>
  <div>
    <input id="sauna-name" type="text" name="" placeholder="nimi" (input)="updateName($event)">
    <input id="sauna-apartment" type="text" name="" placeholder="asunnon numero" (input)="updateApartment($event)">
    <input id="sauna-day" type="text" name="" placeholder="päivä" (input)="updateDay($event)">
  </div>
  <button type="" class="btn btn-success" (click)="saunaMail();">Varaa</button>
</div>
<div class="half" style="background-image: url(../../assets/images/sauna.jpg);">
</div>



