.sauna-reservation {
    background-color: #999;
}

button {
    width:100%;
}

p {
    text-align: center;
}

.input-holder {
    display: flex;
    justify-content: space-between;
    margin: 0 20%;
}