<div class="half">
    <h3>Hae autotalli paikkaa</h3>
  <p>Asunto-osakkeen omistajilla, jotka asuvat talossa, on oikeus hakea autotallipaikkaa. Autotallipaikan hinta on 160€/kk.</p>
  <p>Jonossa: 1. Ahlström 2. Telaranta</p>
  <div>
    <input type="text" placeholder="nimi" (input)="updateName($event)">
    <input type="text" placeholder="asunnon numero" (input)="updateApartment($event)">
    <button class="btn btn-success" (click)="garageMail();">Lähetä</button>
  </div>
</div>
<div class="half hide-small" style="background-image: url(../../assets/images/autotalli.jpg); background-position: center center;">
</div>


