.contact-wrapper {
    width:33%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 1020px) {

    .contact-wrapper {
        width:50%;
    }
}

@media only screen and (max-width: 600px) {

    .contact-wrapper {
        width:100%;
    }
}
