<div class="wrapper">
    <h3>Varsinainen yhtiökokous</h3>
    <p>Aika: Tiistaina 19.12.2017 klo.19.00</p>
    <p>Paikka: Suomen Punainen Risti, Tehtaankatu 1a (ruokasali katutasossa), 00140 HELSINKI </p>
    <p><br>KOKOUKSESSA KÄSITELLÄÄN</p>
    <ol>
      <li>Yhtiöjärjestyksen 12 §:n määräämät asiat</li>
      <li>Kiinteistön kunnostustarveselvitys seuraavalle viidelle vuodelle</li>
      <li>Hoitolainojen yhdistäminen ja uusi takaisinmaksuohjelma</li>
      <li>Keskustelua pihasuunnitelmasta</li>
    </ol>
    <p><br>Helsinki 4.12.2017</p>
    <p>Hallitus</p>
</div>
<div class="wrapper grey-bg">
  <h3>Lunastusilmoitus osakkaille</h3>
  <p>Yhtiön osakkeet numerot 7067-7154, jotka oikeuttavat huoneiston F 39 (77,5 m2) hallintaan, on 27.11.2017 päivätyllä kauppakirjalla myyty yhtiön ulkopuolella olevalle henkilölle/oleville henkilöille.</p>
  <p>Yhtiöjärjestyksen mukaan osakkeenomistajilla on oikeus lunastaa myydyt osakkeet viidentoista (15) päivän kuluessa alla mainittuun hintaan, ilmoitus on tehtävä postituspäivästä lukien 15. päivänä klo 12.00 mennessä.</p>
  <p>Lunastusaika päättyy:	13.12.2017 klo 12.00</p>
  <p><br>ASUNTO OY SIERRA BOSTADS AB</p>
  <p>Tom Amlin <br>
    isännöitsijä
    </p>
</div>
<div class="wrapper">
  <h3>Tiedoksi Asunto Oy Sierra Bostads Ab:n osakkaille ja asukkaille</h3>
  <p>Talon vesilinjanousujen korjaus jatkuu kesän ja syksyn aikana A- ja B-portaassa. Kesän aikana uusitaan myös lämmönjakaja. Lisäksi on tarkoitus rakentaa jäteastioiden ympärille katos. </p>
  <p>Pihaistutuksia ei toteuteta tämän kesän aikana koska talossa on menossa yllämainitut korjaukset. Pihaistutukset toteutetaan vuoden 2018 aikana kun taloyhtiö täyttää 90 vuotta. </p>
  <p>Hallituksen tietoon on myös tullut, että ikkunapuitteissa on esiintynyt maalihilseilyä ja muita vaurioita. Pyydämme osakkaita ilmoittamaan isännöitsijälle mikäli havaitsette vikoja ikkunoissanne. </p>
  <p>Perinteinen pihajuhla pidetään tiistaina 15.8.2017 klo.18.00.</p>
  <p>Helsingissä 22.6.2017</p>
  <p>Asunto Oy Sierra Bostads Ab</p>
  <p>Hallitus</p>
</div>


