
<div class="wrapper">
  <h3>Lunastusilmoitus osakkaille</h3>
  <p>Yhtiön osakkeet numerot 6841-6916, jotka oikeuttavat huoneiston D 22 a (66,0 m2) hallintaan, on 19.6.2018 päivätyllä kauppakirjalla myyty yhtiön ulkopuolella olevalle henkilölle/oleville henkilöille.</p>
  <p>Yhtiöjärjestyksen mukaan osakkeenomistajilla on oikeus lunastaa myydyt osakkeet viidentoista (15) päivän kuluessa alla mainittuun hintaan, ilmoitus on tehtävä postituspäivästä lukien 15. päivänä klo 12.00 mennessä.</p>
  <p>Lunastusaika päättyy:	4.7.2018 klo 12.00</p>
  <p>Helsinki 20.6.2018</p>
  <p>isännöitsijä, Tom Amlin</p>
</div>



