<div>
  <h2>Uutiset</h2>
  <div class="wrapper">
    <h3>Tiedoksi Asunto Oy Sierra Bostads Ab:n osakkaille ja asukkaille</h3>
    <p>Talon vesilinjanousujen korjaus jatkuu kesän ja syksyn aikana A- ja B-portaassa. Kesän aikana uusitaan myös lämmönjakaja. Lisäksi on tarkoitus rakentaa jäteastioiden ympärille katos. </p>
    <p>Pihaistutuksia ei toteuteta tämän kesän aikana koska talossa on menossa yllämainitut korjaukset. Pihaistutukset toteutetaan vuoden 2018 aikana kun taloyhtiö täyttää 90 vuotta. </p>
    <p>Hallituksen tietoon on myös tullut, että ikkunapuitteissa on esiintynyt maalihilseilyä ja muita vaurioita. Pyydämme osakkaita ilmoittamaan isännöitsijälle mikäli havaitsette vikoja ikkunoissanne. </p>
    <p>Perinteinen pihajuhla pidetään tiistaina 15.8.2017 klo.18.00.</p>
    <p>Helsingissä 22.6.2017</p>
    <p>Asunto Oy Sierra Bostads Ab</p>
    <p>Hallitus</p>
  </div>
  <div class="wrapper grey-bg">
    <h3>Lunastusilmoitus osakkaille</h3>
    <p>Yhtiön osakkeet numerot 2869-2965, jotka oikeuttavat huoneiston C 14b (71,0 m2) hallintaan, on 3.7.2017 päivätyllä kauppakirjalla myyty yhtiön ulkopuolella olevalle henkilölle/oleville henkilöille.</p>
    <p>Yhtiöjärjestyksen mukaan osakkeenomistajilla on oikeus lunastaa myydyt osakkeet viidentoista (15) päivän kuluessa alla mainittuun hintaan, ilmoitus on tehtävä postituspäivästä lukien 15. päivänä klo 12.00 mennessä.</p>
    <p>Ostajat:<br>
    	Pasi Aalto		50%<br>
        Mira Aalto		50%<br>
        Tähtitorninkatu 4 B 21<br>
        00140 HELSINKI<br>
    </p>
    <p>Kauppahinta:	581.000,00 euroa (viisisataakahdeksankymmentäyksituhatta euroa)</p>
    <p>Lunastusaika päättyy:	20.7.2017 klo 12.00</p>
    <p>Tom Amlin<br>
    isännöitsijä</p>
  </div>
</div>
