.announcement-list {
    background-color: #EEE;
    width: 80%;
    height: 48vw;
    float: right;
    background-color: #F9FBE7;
    
}

.announcement,
.announcement2 {
    padding: 0 5% 80px 5%;
}

.announcement {
    background-color: #F9FBE7;
}

.announcement2 {
    
}
