/* You can add global styles to this file, and also import other style files */

html {
    padding-top: 0px;
}

body {
    margin-top: 0px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    color: #000;
    
}

h1, h2, h3 {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 330%;
    margin-top: 180px;
    font-weight: 300;
    color: #FFF;
}

h2 {
    font-size: 180%;
    margin-bottom: 50px;
}

h2:after {
    display: block;
    width: 100px;
    height: 2px;
    background-color: #FDD835;
    content: " ";
    margin: 0 auto;
    margin-top: 20px;
}

h3 {
    font-size: 140%;
    margin-bottom: 30px;
}

h4 {
    font-size: 120%;
    margin-bottom: 20px;
}

p {
    font-size: 100%;
    line-height: 30px;
}


ul {
    list-style: none;
    padding: 0;
}

.wrapper {
    max-width: 1300px;
    width:100%;
    margin: 20px auto;
    padding: 20px 5%;
} 

.flex {
    display: flex;
    flex-direction: row;
}

.grey-bg {
    background-color: #EEE;
}

.hide-small {

}

.half {
    height:400px;
    margin: 0 1%;
    width:48%;
}

/*******************************
******** MEDIA QUERIES**********
*******************************/


@media only screen and (max-width: 768px) {

    .hide-small {
        display: none;
    }

    .half {
        width: 100%;
        height: auto;
        padding: 50px 0;
    }

    .half:first-child {
        padding-top: 0;
    }

    h2 {
        margin-bottom: 0;
    }

    h1 {
        margin-top: 20px; 
    }

    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {

    h1 {
        margin-top: 10px; 
        margin-bottom: 0px;
    }
}

