/* You can add global styles to this file, and also import other style files */

html {
    background-color: #F9FBE7;
    padding-top: 0px;
}

body {
    margin-top: 0px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    color: #000;
    
}

h1, h2, h3 {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 300%;
    margin-top: 150px;
    font-weight: 500;
    color: #F0F4C3;
}

h2 {
    font-size: 180%;
    margin-bottom: 50px;
}

h3 {
    font-size: 120%;
    margin-bottom: 30px;
}

p, h4 {
    font-size: 110%;
    margin-bottom: 20px;
}

a {
    color: #000;
    text-decoration: none;
}
