
.links {
    background-color: #999;
    width: 100%;
}

.links h3 {
    text-align: center;
}

.links ul {
    list-style: none;
}

.links ul li {
    padding: 0 0 10px 0;
}

.links ul li a {
    text-decoration: none;
}