
<div>
    <!-- <div class="wrapper flex"> --> 
        <h2>Muuta</h2>
    <!-- </div> -->
    <!-- <div class="wrapper flex"> -->
        <app-link-list class="wrapper flex"></app-link-list>
    <!-- </div> -->
    <!-- <div class="wrapper flex grey-bg"> -->
        <app-garage class="wrapper flex"></app-garage>
    <!-- </div> -->
    <!-- <div class="wrapper flex"> -->
        <app-buy-book class="wrapper flex"></app-buy-book>
    <!-- </div> -->
    <!-- <div class="wrapper flex grey-bg"> -->
        <app-sauna-reservation class="wrapper flex"></app-sauna-reservation>
    <!-- </div> -->
    <!-- <div class="wrapper flex"> -->
        <app-sauna-schedule class="wrapper flex"></app-sauna-schedule>
    <!-- </div> -->
</div>









